<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanxiu.workselect.dao.WorksMapper" >
  <resultMap id="BaseResultMap" type="com.yanxiu.workselect.api.model.Works" >
    <id column="work_id" property="workId" jdbcType="BIGINT" />
    <result column="work_name" property="workName" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="pic_resource_id" property="picResourceId" jdbcType="BIGINT" />
    <result column="category" property="category" jdbcType="BIGINT" />
    <result column="author_id" property="authorId" jdbcType="BIGINT" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="xueke_id" property="xuekeId" jdbcType="BIGINT" />
    <result column="xueduan_id" property="xueduanId" jdbcType="BIGINT" />
    <result column="grade_id" property="gradeId" jdbcType="BIGINT" />
    <result column="volume_id" property="volumeId" jdbcType="BIGINT" />
    <result column="version_id" property="versionId" jdbcType="BIGINT" />
    <result column="chapter_id1" property="chapterId1" jdbcType="BIGINT" />
    <result column="chapter_id2" property="chapterId2" jdbcType="BIGINT" />
    <result column="chapter_id3" property="chapterId3" jdbcType="BIGINT" />
    <result column="view_count" property="viewCount" jdbcType="BIGINT" />
    <result column="work_agree" property="workAgree" jdbcType="BIGINT" />
    <result column="work_agree_rand" property="workAgreeRand" jdbcType="BIGINT" />
    <result column="expert_score" property="expertScore" jdbcType="DOUBLE" />
    <result column="final_score" property="finalScore" jdbcType="DOUBLE" />
    <result column="final_rank" property="finalRank" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="resource_type" property="resourceType" jdbcType="INTEGER" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="check_status" property="check" jdbcType="INTEGER" />
    <result column="check_reason" property="checkReason" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    select
      work_id, work_name, activity_id, resource_id, pic_resource_id, category,author_id, area_id,
      xueke_id, xueduan_id, grade_id, volume_id, version_id, chapter_id1, chapter_id2, chapter_id3, view_count,
      work_agree, work_agree_rand, expert_score, final_score, final_rank, create_time, update_time,
      resource_type, introduce, check_status, check_reason
    from works
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <include refid="Base_Column_List" />
    where work_id = #{workId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from works
    where work_id = #{workId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yanxiu.workselect.api.model.Works" >
    insert into works (work_id, work_name, activity_id, resource_id, pic_resource_id,category,
                       author_id, area_id, xueke_id, xueduan_id, grade_id, volume_id, version_id,
                       chapter_id1, chapter_id2, chapter_id3, view_count, work_agree,
                       work_agree_rand, expert_score, final_score, final_rank, create_time,
                       update_time, resource_type, introduce, check_status, check_reason
    )
    values (#{workId,jdbcType=BIGINT}, #{workName,jdbcType=VARCHAR}, #{activityId,jdbcType=BIGINT},
            #{resourceId,jdbcType=BIGINT}, #{picResourceId,jdbcType=BIGINT},#{category,jdbcType=BIGINT}, #{authorId,jdbcType=BIGINT},
            #{areaId,jdbcType=BIGINT}, #{xuekeId,jdbcType=BIGINT}, #{xueduanId,jdbcType=BIGINT},
            #{gradeId,jdbcType=BIGINT}, #{volumeId,jdbcType=BIGINT}, #{versionId,jdbcType=BIGINT}, #{chapterId1, jdbcType=BIGINT}, #{chapterId2, jdbcType=BIGINT}, #{chapterId3, jdbcType=BIGINT},
            #{viewCount,jdbcType=BIGINT}, #{workAgree,jdbcType=BIGINT},
            #{workAgreeRand,jdbcType=BIGINT}, #{expertScore,jdbcType=DOUBLE}, #{finalScore,jdbcType=DOUBLE},
            #{finalRank,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
            #{resourceType,jdbcType=INTEGER}, #{introduce,jdbcType=VARCHAR}, #{check,jdbcType=INTEGER}, #{checkReason,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.yanxiu.workselect.api.model.Works" >
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="workId">
      SELECT LAST_INSERT_ID() AS work_id
    </selectKey>
    insert into works
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workId != null" >
        work_id,
      </if>
      <if test="workName != null" >
        work_name,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="picResourceId != null" >
        pic_resource_id,
      </if>
      <if test ="category !=null">
        category,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="xuekeId != null" >
        xueke_id,
      </if>
      <if test="xueduanId != null" >
        xueduan_id,
      </if>
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="volumeId != null" >
        volume_id,
      </if>
      <if test="versionId != null" >
        version_id,
      </if>
      <if test="chapterId1 != null" >
        chapter_id1,
      </if>
      <if test="chapterId2 != null" >
        chapter_id2,
      </if>
      <if test="chapterId3 != null" >
        chapter_id3,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="workAgree != null" >
        work_agree,
      </if>
      <if test="workAgreeRand != null" >
        work_agree_rand,
      </if>
      <if test="expertScore != null" >
        expert_score,
      </if>
      <if test="finalScore != null" >
        final_score,
      </if>
      <if test="finalRank != null" >
        final_rank,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="resourceType != null" >
        resource_type,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="check != null" >
        check_status,
      </if>
      <if test="checkReason != null" >
        check_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workId != null" >
        #{workId,jdbcType=BIGINT},
      </if>
      <if test="workName != null" >
        #{workName,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="picResourceId != null" >
        #{picResourceId,jdbcType=BIGINT},
      </if>
      <if test="category !=null">
        #{category,jdbcType=BIGINT},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="xuekeId != null" >
        #{xuekeId,jdbcType=BIGINT},
      </if>
      <if test="xueduanId != null" >
        #{xueduanId,jdbcType=BIGINT},
      </if>
      <if test="gradeId != null" >
        #{gradeId,jdbcType=BIGINT},
      </if>
      <if test="volumeId != null" >
        #{volumeId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="chapterId1 != null" >
        #{chapterId1, jdbcType=BIGINT},
      </if>
      <if test="chapterId2 != null" >
        #{chapterId2, jdbcType=BIGINT},
      </if>
      <if test="chapterId3 != null" >
        #{chapterId3, jdbcType=BIGINT},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="workAgree != null" >
        #{workAgree,jdbcType=BIGINT},
      </if>
      <if test="workAgreeRand != null" >
        #{workAgreeRand,jdbcType=BIGINT},
      </if>
      <if test="expertScore != null" >
        #{expertScore,jdbcType=DOUBLE},
      </if>
      <if test="finalScore != null" >
        #{finalScore,jdbcType=DOUBLE},
      </if>
      <if test="finalRank != null" >
        #{finalRank,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceType != null" >
        #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="check != null" >
        #{check,jdbcType=INTEGER},
      </if>
      <if test="checkReason != null" >
        #{check_reason,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yanxiu.workselect.api.model.Works" >
    update works
    <set >
      <if test="workName != null" >
        work_name = #{workName,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="picResourceId != null" >
        pic_resource_id = #{picResourceId,jdbcType=BIGINT},
      </if>
      <if test="category !=null">
        category = #{category,jdbcType=BIGINT},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="xuekeId != null" >
        xueke_id = #{xuekeId,jdbcType=BIGINT},
      </if>
      <if test="xueduanId != null" >
        xueduan_id = #{xueduanId,jdbcType=BIGINT},
      </if>
      <if test="gradeId != null" >
        grade_id = #{gradeId,jdbcType=BIGINT},
      </if>
      <if test="volumeId != null" >
        volume_id = #{volumeId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="chapterId1 != null" >
        chapter_id1 = #{chapterId1, jdbcType=BIGINT},
      </if>
      <if test="chapterId2 != null" >
        chapter_id2 = #{chapterId2, jdbcType=BIGINT},
      </if>
      <if test="chapterId3 != null" >
        chapter_id3 = #{chapterId3, jdbcType=BIGINT},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount, jdbcType=BIGINT},
      </if>
      <if test="workAgree != null" >
        work_agree = #{workAgree,jdbcType=BIGINT},
      </if>
      <if test="workAgreeRand != null" >
        work_agree_rand = #{workAgreeRand,jdbcType=BIGINT},
      </if>
      <if test="expertScore != null" >
        expert_score = #{expertScore,jdbcType=DOUBLE},
      </if>
      <if test="finalScore != null" >
        final_score = #{finalScore,jdbcType=DOUBLE},
      </if>
      <if test="finalRank != null" >
        final_rank = #{finalRank,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resourceType != null" >
        resource_type = #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="check != null" >
        check_status = #{check,jdbcType=INTEGER},
      </if>
      <if test="checkReason != null" >
        check_reason = #{checkReason,jdbcType=INTEGER},
      </if>
    </set>
    where work_id = #{workId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yanxiu.workselect.api.model.Works" >
    update works
    set work_name = #{workName,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT},
      pic_resource_id = #{picResourceId,jdbcType=BIGINT},
      category = #{category,jdbcType=BIGINT},
      author_id = #{authorId,jdbcType=BIGINT},
      area_id = #{areaId,jdbcType=BIGINT},
      xueke_id = #{xuekeId,jdbcType=BIGINT},
      xueduan_id = #{xueduanId,jdbcType=BIGINT},
      grade_id = #{gradeId,jdbcType=BIGINT},
      volume_id = #{volumeId,jdbcType=BIGINT},
      version_id = #{versionId,jdbcType=BIGINT},
      chapter_id1 = #{chapterId1, jdbcType=BIGINT},
      chapter_id2 = #{chapterId2, jdbcType=BIGINT},
      chapter_id3 = #{chapterId3, jdbcType=BIGINT},
      view_count = #{viewCount,jdbcType=BIGINT},
      work_agree = #{workAgree,jdbcType=BIGINT},
      work_agree_rand = #{workAgreeRand,jdbcType=BIGINT},
      expert_score = #{expertScore,jdbcType=DOUBLE},
      final_score = #{finalScore,jdbcType=DOUBLE},
      final_rank = #{finalRank,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      resource_type = #{resourceType,jdbcType=INTEGER},
      introduce = #{introduce,jdbcType=VARCHAR},
      check_status = #{check,jdbcType=INTEGER},
      check_reason = #{checkReason,jdbcType=INTEGER}
    where work_id = #{workId,jdbcType=BIGINT}
  </update>
</mapper>