<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanxiu.passport.dao.PPUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yanxiu.workselect.api.commons.vo.passport.PPUserInfo" >
    <result column="UID" property="uid" jdbcType="BIGINT" />
    <result column="PERSONAL_ID_FLAG" property="personalIdFlag" jdbcType="TINYINT" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="REAL_NAME_FLAG" property="realNameFlag" jdbcType="TINYINT" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="NICKNAME_FLAG" property="nicknameFlag" jdbcType="TINYINT" />
    <result column="GEND_FLAG" property="gendFlag" jdbcType="TINYINT" />
    <result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
    <result column="CITY_ID" property="cityId" jdbcType="BIGINT" />
    <result column="SCHOOL_ID" property="schoolId" jdbcType="BIGINT" />
    <result column="STU_STAGE_ID" property="stuStageId" jdbcType="INTEGER" />
    <result column="GRADE" property="grade" jdbcType="TINYINT" />
    <result column="COURSE_ID" property="courseId" jdbcType="INTEGER" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="MSN" property="msn" jdbcType="VARCHAR" />
    <result column="SMSCODE" property="smscode" jdbcType="VARCHAR" />
    <result column="MAILCODE" property="mailcode" jdbcType="VARCHAR" />
    <result column="REG_DT" property="regDt" jdbcType="TIMESTAMP" />
    <result column="REG_IP" property="regIp" jdbcType="VARCHAR" />
    <result column="MDF_DT" property="mdfDt" jdbcType="TIMESTAMP" />
    <result column="MDF_IP" property="mdfIp" jdbcType="VARCHAR" />
    <result column="BACK" property="back" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="VIP_TYPE" property="vipType" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.yanxiu.workselect.api.commons.vo.passport.PPUserInfo" >
    insert into pp_user_info (UID, PERSONAL_ID_FLAG, REAL_NAME, 
      REAL_NAME_FLAG, NICKNAME, NICKNAME_FLAG, 
      GEND_FLAG, BIRTHDAY, CITY_ID, 
      SCHOOL_ID, STU_STAGE_ID, GRADE, 
      COURSE_ID, QQ, MSN, 
      SMSCODE, MAILCODE, REG_DT, 
      REG_IP, MDF_DT, MDF_IP, 
      BACK, TYPE, VIP_TYPE
      )
    values (#{uid,jdbcType=BIGINT}, #{personalIdFlag,jdbcType=TINYINT}, #{realName,jdbcType=VARCHAR}, 
      #{realNameFlag,jdbcType=TINYINT}, #{nickname,jdbcType=VARCHAR}, #{nicknameFlag,jdbcType=TINYINT}, 
      #{gendFlag,jdbcType=TINYINT}, #{birthday,jdbcType=DATE}, #{cityId,jdbcType=BIGINT}, 
      #{schoolId,jdbcType=BIGINT}, #{stuStageId,jdbcType=INTEGER}, #{grade,jdbcType=TINYINT}, 
      #{courseId,jdbcType=INTEGER}, #{qq,jdbcType=VARCHAR}, #{msn,jdbcType=VARCHAR}, 
      #{smscode,jdbcType=VARCHAR}, #{mailcode,jdbcType=VARCHAR}, #{regDt,jdbcType=TIMESTAMP}, 
      #{regIp,jdbcType=VARCHAR}, #{mdfDt,jdbcType=TIMESTAMP}, #{mdfIp,jdbcType=VARCHAR}, 
      #{back,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{vipType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yanxiu.workselect.api.commons.vo.passport.PPUserInfo" >
    insert into pp_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="personalIdFlag != null" >
        PERSONAL_ID_FLAG,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="realNameFlag != null" >
        REAL_NAME_FLAG,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="nicknameFlag != null" >
        NICKNAME_FLAG,
      </if>
      <if test="gendFlag != null" >
        GEND_FLAG,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="schoolId != null" >
        SCHOOL_ID,
      </if>
      <if test="stuStageId != null" >
        STU_STAGE_ID,
      </if>
      <if test="grade != null" >
        GRADE,
      </if>
      <if test="courseId != null" >
        COURSE_ID,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="msn != null" >
        MSN,
      </if>
      <if test="smscode != null" >
        SMSCODE,
      </if>
      <if test="mailcode != null" >
        MAILCODE,
      </if>
      <if test="regDt != null" >
        REG_DT,
      </if>
      <if test="regIp != null" >
        REG_IP,
      </if>
      <if test="mdfDt != null" >
        MDF_DT,
      </if>
      <if test="mdfIp != null" >
        MDF_IP,
      </if>
      <if test="back != null" >
        BACK,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="vipType != null" >
        VIP_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="personalIdFlag != null" >
        #{personalIdFlag,jdbcType=TINYINT},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="realNameFlag != null" >
        #{realNameFlag,jdbcType=TINYINT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="nicknameFlag != null" >
        #{nicknameFlag,jdbcType=TINYINT},
      </if>
      <if test="gendFlag != null" >
        #{gendFlag,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="stuStageId != null" >
        #{stuStageId,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=TINYINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="msn != null" >
        #{msn,jdbcType=VARCHAR},
      </if>
      <if test="smscode != null" >
        #{smscode,jdbcType=VARCHAR},
      </if>
      <if test="mailcode != null" >
        #{mailcode,jdbcType=VARCHAR},
      </if>
      <if test="regDt != null" >
        #{regDt,jdbcType=TIMESTAMP},
      </if>
      <if test="regIp != null" >
        #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="mdfDt != null" >
        #{mdfDt,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfIp != null" >
        #{mdfIp,jdbcType=VARCHAR},
      </if>
      <if test="back != null" >
        #{back,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="vipType != null" >
        #{vipType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>