<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userResourceService" class="com.yanxiu.workselect.service.UserResourceServiceImpl" />
    <bean id="userResourceServer" class="com.yanxiu.rpc.server.ServiceProxy" init-method="init">
        <property name="name" value="userResource"/>
        <property name="service" ref="userResourceService"/>
        <property name="server" ref="server1"/>
    </bean>

    <bean id="activityBackendService" class="com.yanxiu.workselect.service.ActivityStageServiceImpl" />
    <bean id="activityServer" class="com.yanxiu.rpc.server.ServiceProxy" init-method="init">
        <property name="name" value="activity"/>
        <property name="service" ref="activityBackendService"/>
        <property name="server" ref="server1"/>
    </bean>

    <bean id="server1" class="com.yanxiu.rpc.server.Server" init-method="startup">
        <property name="root" value="workselect_online"/>
        <property name="serviceNames" value="activity,userResource"/>
        <property name="registerServiceNames" value=""/>
        <property name="address" value="${register.address}" />
        <property name="threads" value="${server.maxthread}"/>
        <property name="monitor" ref="monitor1"/>
    </bean>

    <bean id="monitor1" class="com.yanxiu.rpc.remoting.monitor.LocalMonitor" >
        <property name="open" value="true"/>
    </bean>

</beans>
